<section class="marcas-section">
  {{!-- <h5>ENCONTRÁ TUS MARCAS PREFERIDAS</h5> --}}
  <div class="marcas-div">
    {{!-- <div class="marcas-img-div"><img class="marcas-img" src="https://iili.io/HXy9rzX.jpg" alt=""></div> --}}
    <a href="/_BRAND_2706606#origin=brand_carousel&position=1&id=2706606&applied_filter_id%3DBRAND%26applied_filter_name%3DMarca%26applied_filter_order%3D1%26applied_value_id%3D2706606%26applied_value_name%3DTotal%26applied_value_order%3D2%26applied_value_results%3D317%26is_custom%3Dfalse"
      class="marcas-img-div"><img class="marcas-img" src="https://iili.io/HNyy8VR.png" alt=""></a>
    {{!-- <a class="marcas-img-div"><img class="marcas-img" src="https://iili.io/HNyySPp.jpg" alt=""></a> --}}
    <a href="/_BRAND_9775794#applied_filter_id%3DBRAND%26applied_filter_name%3DMarca%26applied_filter_order%3D11%26applied_value_id%3D9775794%26applied_value_name%3DLüsqtoff%26applied_value_order%3D26%26applied_value_results%3D472%26is_custom%3Dfalse"
      class="marcas-img-div"><img class="marcas-img" src="https://iili.io/HNyyvov.png" alt=""></a>
    {{!-- <div class="marcas-img-div"><img class="marcas-img" src="https://iili.io/HXy9Ubt.jpg" alt=""></div> --}}
    <a href="/_BRAND_4208#applied_filter_id%3DBRAND%26applied_filter_name%3DMarca%26applied_filter_order%3D11%26applied_value_id%3D4208%26applied_value_name%3DDaewoo%26applied_value_order%3D7%26applied_value_results%3D207%26is_custom%3Dfalse"
      class="marcas-img-div"><img class="marcas-img" src="https://iili.io/HXy94Xn.jpg" alt=""></a>
    {{!-- <div class="marcas-img-div"><img class="marcas-img" src="https://iili.io/HXy9SeI.jpg" alt=""></div> --}}
    <a href="/_BRAND_106506#applied_filter_id%3DBRAND%26applied_filter_name%3DMarca%26applied_filter_order%3D11%26applied_value_id%3D106506%26applied_value_name%3DOmaha%26applied_value_order%3D28%26applied_value_results%3D226%26is_custom%3Dfalse"
      class="marcas-img-div"><img class="marcas-img" src="https://iili.io/HNyygKN.webp" alt=""></a>
    {{!-- <div class="marcas-img-div"><img class="marcas-img" src="https://iili.io/HXy985N.jpg" alt=""></div> --}}
    <a href="/_BRAND_363#applied_filter_id%3DBRAND%26applied_filter_name%3DMarca%26applied_filter_order%3D11%26applied_value_id%3D363%26applied_value_name%3DEinhell%26applied_value_order%3D11%26applied_value_results%3D284%26is_custom%3Dfalse"
      class="marcas-img-div"><img class="marcas-img" src="https://iili.io/HNyyeDJ.png" alt=""></a>
    {{!-- <div class="marcas-img-div"><img class="marcas-img" src="https://iili.io/HXy9egR.jpg" alt=""></div> --}}
    {{!-- <div class="marcas-img-div"><img class="marcas-img" src="https://iili.io/HXy9vJp.jpg" alt=""></div> --}}
  </div>
</section>

<div class="destacadas-title-div">
  <h5 class="destacadas-title">CATEGORÍAS</h5>
  <h5 class="destacadas-title color-blue">DESTACADAS</h5>
</div>
<section class="destacadas-section invisible">
  <a href="/listado/herramientas/" class="destacadas-img-div1">
    <p class="destacadas-img-title">Herramientas</p>
  </a>
  <a href="/listado/construccion/" class="destacadas-img-div2">
    <p class="destacadas-img-title">Construcción</p>
  </a>
  <a href="/listado/hogar-muebles-jardin/" class="destacadas-img-div3">
    <p class="destacadas-img-title">Hogar, Muebles y Jardín</p>
  </a>
</section>



<div class="destacadas-section2">
  <div class="destacadas-div2">
    <a href="/listado/herramientas/" class="destacadas-div-img2">
      <img src="https://iili.io/HNLwphg.png" alt="">
    </a>
    <p class="destacadas-p2">HERRAMIENTAS</p>
  </div>
  <div class="destacadas-div2">
    <a href="/listado/hogar-muebles-jardin/" class="destacadas-div-img2">
      <img src="https://iili.io/HNLwmTF.png" alt="">
    </a>
    <p class="destacadas-p2">HOGAR, MUEBLES Y JARDÍN</p>
  </div>
  <div class="destacadas-div2">
    <a href="/listado/construccion/" class="destacadas-div-img2">
      <img src="https://iili.io/HNLwtkP.png" alt="">
    </a>
    <p class="destacadas-p2">CONSTRUCCIÓN</p>
  </div>
</div>

<section class="newsletter-section">
  <div id="optin-Th3R6bsV" data-type="inline"></div>
</section>

<section class="pagos-section">
  <div class="pagos-div">
    <img class="pagos-img" src="https://iili.io/HXy1cwQ.png" alt="">
    <h6>Elegí los productos que vas a comprar</h6>
    <p>Si querés mas de uno sumalo a tu carrito</p>
  </div>
  <div class="pagos-div">
    <img class="pagos-img" src="https://iili.io/HXy1ltV.png" alt="">
    <h6>Pagá con el medio de pago que quieras</h6>
    <p>Comprá con seguridad, usamos la tecnología de Mercado Pago</p>
  </div>
  <div class="pagos-div">
    <img class="pagos-img" src="https://iili.io/HXy11oB.png" alt="">
    <h6>Recibí el producto que esperás</h6>
    <p>Elegí la forma de entrega que prefieras ¡y listo! Aseguramos tu entrega con Mercado Envíos</p>
  </div>
</section>

</section>
{{#if subscriptionFooter.active}}
{{> tools/views/partials/suscription}}
{{/if}}
<footer class="nav-tools-footer blue">
  <section class="nav-tools-footer__bound">
    <section class="nav-tools-footer__top">
      <div class="nav-tools-footer__info header--custom-text">
        <div class="nav-tools-footer__logo">
          <img class="logo-footer" src="https://iili.io/HO7agg1.webp" alt="{{name}}">
        </div>
        <div class="div-hr">
          <hr class="hr invisible">
        </div>
        <div class="icon-div">
          <a target="_blank" href="https://www.facebook.com/pidewebargentina">
            <svg class="icon-fb" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <path fill="#FFFFFF"
                d="M24,12A12,12,0,1,0,10.12,23.87V15.48h-3V12h3V9.37c0-3,1.79-4.67,4.53-4.67a18,18,0,0,1,2.68.24V7.89H15.82a1.73,1.73,0,0,0-2,1.87V12h3.32l-.53,3.47H13.87v8.39A12,12,0,0,0,24,12Z" />
            </svg>
          </a>
          <a target="_blank" href="https://www.instagram.com/pideweb/">
            <svg class="icon-ig" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <path fill="#FFFFFF"
                d="M12 2.163c3.204 0 3.584.012 4.85.07 3.252.148 4.771 1.691 4.919 4.919.058 1.265.069 1.645.069 4.849 0 3.205-.012 3.584-.069 4.849-.149 3.225-1.664 4.771-4.919 4.919-1.266.058-1.644.07-4.85.07-3.204 0-3.584-.012-4.849-.07-3.26-.149-4.771-1.699-4.919-4.92-.058-1.265-.07-1.644-.07-4.849 0-3.204.013-3.583.07-4.849.149-3.227 1.664-4.771 4.919-4.919 1.266-.057 1.645-.069 4.849-.069zm0-2.163c-3.259 0-3.667.014-4.947.072-4.358.2-6.78 2.618-6.98 6.98-.059 1.281-.073 1.689-.073 4.948 0 3.259.014 3.668.072 4.948.2 4.358 2.618 6.78 6.98 6.98 1.281.058 1.689.072 4.948.072 3.259 0 3.668-.014 4.948-.072 4.354-.2 6.782-2.618 6.979-6.98.059-1.28.073-1.689.073-4.948 0-3.259-.014-3.667-.072-4.947-.196-4.354-2.617-6.78-6.979-6.98-1.281-.059-1.69-.073-4.949-.073zm0 5.838c-3.403 0-6.162 2.759-6.162 6.162s2.759 6.163 6.162 6.163 6.162-2.759 6.162-6.163c0-3.403-2.759-6.162-6.162-6.162zm0 10.162c-2.209 0-4-1.79-4-4 0-2.209 1.791-4 4-4s4 1.791 4 4c0 2.21-1.791 4-4 4zm6.406-11.845c-.796 0-1.441.645-1.441 1.44s.645 1.44 1.441 1.44c.795 0 1.439-.645 1.439-1.44s-.644-1.44-1.439-1.44z">
            </svg>
          </a>
        </div>
        {{!-- <div class="nav-tools-footer__contact">
          <div data-editable="contact">
            {{#if showContact}}
            {{#if showPhone}}
            <a class="header--custom-text">{{phone.formatted}}</a>
            {{/if}}

            {{#if showEmail}}
            <a class="header--custom-text" href="mailto:{{email}}">{{email}}</a>
            {{/if}}

            {{#if address}}
            {{#with address}}
            <p>
              <span itemprop="streetAddress" class="header--custom-text">{{address}}</span>
              <span itemprop="addressLocality" class="header--custom-text">{{city}}</span>
              <span itemprop="addressRegion" class="header--custom-text">{{state}}</span>
            </p>
            {{/with}}
            {{/if}}
            {{/if}}
          </div>
          <div class="nav-tools-footer__social-media" data-editable="socialNetworks">
            {{#if showSocialNetworks}}
            {{#each socialNetworks}}
            <a href="{{url}}" target="_blank" class="header--custom-svg" rel="noopener noreferrer nofollow">
              {{> (concat 'icons/social_networks/' (lookup . 'name'))}}
            </a>
            {{/each}}
            {{/if}}
          </div>
        </div> --}}
      </div>
      <div class="div-hr">
        <hr class="hr invisible">
      </div>
      <div class="footer-categorias-div">
        <a class="footer-categoria" href="/listado/herramientas/">Herramientas</a>
        <a class="footer-categoria" href="/listado/construccion/">Construcción</a>
        <a class="footer-categoria" href="/listado/hogar-muebles-jardin/">Hogar, Muebles y Jardín</a>
        <a class="footer-categoria" href="/griferia_NoIndex_True">Grifería</a>
      </div>
      <div class="footer-categorias-div">
        <a class="footer-categoria" href="/listado/herramientas/accesorios-herramientas/">Accesorios</a>
        <a class="footer-categoria" href="/listado/industrias-oficinas/">Equipamiento comercial</a>
        <a class="footer-categoria" href="/_DisplayType_G_Discount_5-100_NoIndex_True">Ofertas</a>
        <a class="footer-categoria" href="/p/como-comprar">¿Cómo Comprar?</a>
      </div>
      <div class="div-hr">
        <hr class="hr invisible">
      </div>
      <div class="footer-contacto-div">
        <a target="_blank"
          href="https://api.whatsapp.com/send?phone=5491160291319&text=%C2%A1Hola%21+Estoy+en+la+tienda+PIDEWEB+y+quiero+pedir+m%C3%A1s+informaci%C3%B3n"
          class="footer-categoria">011-60291319<img class="footer-icon" src="https://iili.io/Hh5aCH7.png" alt=""></a>
        <a target="_blank" href="mailto:info@tiendaspideweb.com.ar"
          class="footer-categoria">info@tiendaspideweb.com.ar<img class="footer-icon" src="https://iili.io/HhIIyAB.png"
            alt=""></a>
        <a target="_blank"
          href="https://www.google.com/maps/place/Pideweb/@-34.6396011,-58.4842858,18z/data=!4m15!1m8!3m7!1s0x95bcc998f5413ae1:0x26eb7beb7e9ca555!2sAv.+Juan+Bautista+Alberdi+4167,+C1406+CABA!3b1!8m2!3d-34.6395067!4d-58.4843406!16s%2Fg%2F11trfbsh1k!3m5!1s0x95bcc9b8c974a267:0x17d3c1fc6584701a!8m2!3d-34.6395067!4d-58.4843406!16s%2Fg%2F11hyyfl7f5?hl=es"
          class="footer-categoria">Av Juan Bautista Alberdi 4167, Floresta<img class="footer-icon"
            src="https://iili.io/HhI2gyJ.png" alt=""></a>
        <p class="footer-categoria">10:30 a 17:00hs lun a vie y 11:00 a 14:00 sab<img class="footer-icon"
            src="https://iili.io/HhIIp9V.png" alt=""></p>
      </div>
      {{!-- <div class="nav-tools-footer__categories header--custom-border">
        {{#each menu}}
        <span class="nav-tools-footer__category">
          <a class="header--custom-text" href="{{url}}" data-id="{{id}}">
            {{name}}
          </a>
        </span>
        {{/each}}
      </div>
      <div class="nav-tools-footer__pages header--custom-text header--custom-border">
        <span class="nav-tools-footer__page">
          <a href="{{linkToHowBuy.href}}" class="header--custom-text">{{linkToHowBuy.label}}</a>
        </span>
      </div>
      <div class="nav-tools-footer__social-media" data-editable="socialNetworks">
        {{#if showSocialNetworks}}
        {{#each socialNetworks}}
        <a href="{{url}}" target="_blank" class="header--custom-svg" rel="noopener noreferrer nofollow">
          {{> (concat 'icons/social_networks/' (lookup . 'name'))}}
        </a>
        {{/each}}
        {{/if}}
      </div> --}}
    </section>
    <section class="nav-tools-footer__bottom header--custom-border header--custom-text">
      <div>
        <div class="nav-footer-about">
          <a href="{{{linkToMShopsLandingPage}}}" target="_blank" class="footer-text"
            style="color: #ffffff;">{{i18n.powered_by}}</a>
          <a target="_blank" href="https://galarreta.co/">
            <p class="footer-text">Developed by GALARRETA®</p>
          </a>
          {{#if linkToLegalNotices}}
          <a href="{{linkToLegalNotices.href}}" class="footer-text"
            style="color: #ffffff;">{{linkToLegalNotices.label}}</a>
          {{/if}}
          {{#if linkToLGPD}}
          <a href="{{linkToLGPD.href}}" class="footer-text" style="color: #ffffff;">{{linkToLGPD.label}}</a>
          {{/if}}
        </div>

        {{#if showBusinessData}}
        {{#with fiscalData}}
        <div class="nav-footer-fiscal-data">
          <p style="color: #ffffff;" class="footer-text nav-footer-fiscal-data__name">{{legal_name}}</p>
          <p style="color: #ffffff;" class="footer-text nav-footer-fiscal-data__id">{{legal_doc}}</p>
        </div>
        {{/with}}
        {{/if}}
      </div>
      {{!-- {{#if showQrData}}
      {{#with fiscalData}}
      <a href={{qr_link}} target="_F960AFIPInfo">
        <img class="nav-footer-afip-img" src={{qr_img}} alt="Data fiscal" />
      </a>
      {{/with}}
      {{/if}} --}}
      <a href="http://qr.afip.gob.ar/?qr=XHEo6Y9pySW_RYrHzoPlLg,," target="_F960AFIPInfo"><img
          src="http://www.afip.gob.ar/images/f960/DATAWEB.jpg"  border="0"></a>

    </section>
  </section>
</footer>